/*====== GENERALES ======*/

* {
    margin: 0;
    padding: 0;
    
}

h1,
h2,
h3,
h4,
p {
    font-family: 'Cinzel', serif;
}

strong {
    font-family: 'Lobster Two', cursive;
}

body {
    background-color: #87CEEB;
    background-color: #b0b0b0;
}

/*====== HEADER ======*/

.header {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(120deg, rgba(166, 192, 254, 0.5) 0%, rgba(246, 128, 132, 0.5) 100%), url(/img/salida.jpg);
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    position: relative;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

h1 {
    color: #4B0082;
    font-size: 7em;
    text-align: right;
    padding-top: 160px;
    padding-right: 80px;
    font-weight: 900;
}

/*====== MAIN ======*/

.content {
    margin: .1em;
    margin-top: 20px;
}

h2 {
    margin: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 3em;
    color: #000080;
}

.ct_p {
    margin: 15px;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 10px;
    font-weight: 500;
}

.ct_p:last-child {
    padding-bottom: 30px;
}

strong {
    color: #000080;
    font-weight: 400;
}

/*====== Barra ======*/

.name {
    width: 100%;
    height: 3em;
    background-color: black;
}

.names {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 1.1em;
    color: white;
    padding: 5px;
    animation-name: desplazamiento;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes desplazamiento {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 978px;
    }
    100% {
        margin-left: 0px;
    }
}

.corazones {
    width: 30px;
}

.namees {
    font-size: .9em;
}

/*====== CONTENIDO =======*/

.cont1 {
    display: flex;
    justify-content: space-evenly;
}

.lg_list {
    width: 48%;
}

.menu {
    width: 48%;
    padding-top: 90px;
}

h3 {
    margin-bottom: 15px;
    color: #000080;
    font-weight: 900;
}

.p_menu {
    margin: 1px 0 15px 0;
    font-weight: 500;
}

.arrow {
    width: 20px;
}

/*====== FOOTER ======*/

h4 {
    font-size: 2em;
    text-align: center;
    margin-top: 100px;
}

.clock {
    display: flex;
    justify-content: center;
}

.simply-section {
    border-radius: 50px;
    background: linear-gradient(145deg, #7ab9d4, #90dcfb);
    box-shadow:  20px 20px 60px #73afc8, 
                -20px -20px 60px #9bedff;
    width: 180px;
    height: 180px;
    margin: 100px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simply-amount {
    display: block;
    font-size: 50px;
    font-weight: bold;
}

.simply-word {
    font-size: 30px;
}

/* Cuenta Regresiva */

.p_clock {
    font-size: 3em;
    text-align: center;
    margin-top: 100px;
}

/*====== Reloj ======*/
.countdown {
    display: flex;
    justify-content: center;
}

.simply-section {
    border-radius: 50px;
    background: linear-gradient(45deg, #9e9e9e, #bcbcbc);
    box-shadow:  20px -20px 60px #969696, 
                -20px 20px 60px #cacaca;
    width: 180px;
    height: 180px;
    margin: 100px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simply-amount {
    display: block;
    font-size: 50px;
    font-weight: bold;
}

.simply-word {
    font-size: 30px;
}

