*{
    box-sizing: border-box;
    --color1: #FFFFFF;
    --color2: #00BFFF;
    --color3: #F5F5F5;
}

body {
    background-image: url(/img/gallery/wall.jpg);
    background-size: cover;
    object-fit: cover;
    font-family: 'Grenze Gotisch', cursive;
}

a{
    text-decoration: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 3em;
}

.h_gall {
    grid-column: span 4;
    color: var(--color1);
    font-size: 4em;
    font-weight: 600;
}

.img_gall {
    width: 300px;
    height: 200px;
    border: 10px solid;
    border-color: #D2691E #800000;
    background-clip: content-box;
    padding: 15px; 
    object-fit: contain;
    -webkit-box-shadow: 13px 20px 13px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 20px 13px 2px rgba(0,0,0,0.75);
    box-shadow: 13px 20px 13px 2px rgba(0,0,0,0.75);
}

.jam-heart{
    color: var(--color1);
}

/* LETTERS */

.h_lett{
    font-family: 'Cinzel', serif;
    font-weight: 900;
    font-size: 5em;
    margin: .3em;
    color: var(--color2);
    text-shadow: 2px 2px 2px var(--color1);
}

.lettes{
    font-size: 3em;
}

.jam-heart-f{
    font-size: 1em;
    color: var(--color2);
    text-shadow: 2px 2px 2px var(--color1);
}

.neuf{
    background-color: rgba(176, 224, 230,.2);
    border: 5px solid var(--color2);
    padding: 5px;
    margin: .5em;
}

.p_lett{
    font-family: 'Cinzel', serif;
    font-weight: 500;
    color: var(--color3);
    font-size: 1em;
    text-indent: 3em;
}

.p_lett:last-child{
    font-size: 2.2em;
    font-weight: 900;
    color: var(--color2);
    text-shadow: 2px 2px 2px var(--color1);
}

.img_lett{
    width: 1000px;
    height: 500px;
    margin-top: .5em;
    margin-left: 10em;
    margin-right: 10em;
    border: 3px solid var(--color1);
    border-radius: 25px;
}

.b_lett{
    font-size: 1.5em;
    text-align: center;
}
