.footer
{
    
    background-color: $color-defaul;
    width: 100%;
    position: absolute;
}

.clock__title
{
    color: $color-base;
    font-family: 'Sansita Swashed', cursive;
    font-size: 2em;
    margin-bottom: 1rem;
    text-align: center;
}

.clock__watch
{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.055);
}

.simply-section 
{
    width: 150px;
    margin: 40px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simply-amount 
{
    display: block;
    font-size: 40px;
    font-weight: bold;
    color: $color-base;
}

.simply-word 
{
    font-size: 20px;
    color: $color-base;
}

