.icon
{
    position: fixed;
    bottom: .2rem;
    right: .2rem;
    width: 3rem;
    height: 3rem;
    z-index: -1;
}

.go-up
{
    width: 0rem;
    height: 0rem;
    background-color: transparent;
    border: 2px solid $color-border;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.fa-angle-up
{
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: $color-base;
    transition: .2s;
}

.show
{
    z-index: 10;

    & .go-up
    {
        animation: popup .3s ease-in-out;
        width: 3rem;
        height: 3rem;
        z-index: 11;

        @keyframes popup {
            0%{
                width: 0rem;
                height: 0rem;
            }
            50%{
                width: 4rem;
                height: 4rem;
            }
            100%{
                width: 3rem;
                height: 3rem;
            }
        }
    }

    & .fa-angle-up
    {
        transform: translate(-50%, -50%) scale(1);
    }
}