.letter__title
{
    font-size: 2em;
    margin: 1rem .5rem;
}

.letter__subtitle
{
    font-size: 1.5em;
    margin: .8rem 0;
}

.letter__containt
{
    padding: 1rem 0;
}

.letter__pg
{
    padding-bottom: .5em;

    &::first-letter
    {
        padding-left: 1rem;
    }
}

.letters--pgs
{
    font-size: 1.5em;
    font-weight: 600;
    padding: 0;
}

.letter__link
{
    text-decoration: none;
    padding-left: 1.2em;
    color: $color-base;
    font-size: 1.5em;
}
