/* GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Handlee', cursive;
}

body{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

/* MENU */
.bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center; }

.bar__img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: .5em;
    margin-left: 1.5em;
    border: 3px solid #008080; }

.bar__nav {
    display: flex;
    align-items: center;
    padding-right: 2rem; }

.bar__nav .bar__menu {
    display: flex;
    list-style: none; }

.bar__list {
    position: relative;
    font-weight: 700; }

.bar__list:hover .bar__submenu {
    display: block;
    z-index: 1; }

.bar__link {
    display: inline-block;
    padding: .2em .5em;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff; }

.bar__link:hover {
    background-color: rgba(0, 128, 128, 0.4); }

.bar__submenu {
    position: absolute;
    list-style: none;
    top: 100%;
    display: none; }

.bar__submenu .bar__link {
    font-weight: 700; }

.bar__submenu .bar--links {
    margin-top: 10px; }

.bar__submenu .bar--links:hover {
    background-color: rgba(0, 128, 128, 0.4);
    border: none; }

/* CONTENIDO */
.phase{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3rem 1fr;
    height: 100vh;
    width: 100%;
}

.phase__title{
    font-size: 2em;
    margin: .8rem 0;
    padding: 0 1rem;
    grid-column: span 4;
    justify-items: center;
    justify-self: center;
}

.phase__content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.phase__subtitle{
    padding-top: .8rem;
    padding-bottom: .8rem;
    font-size: 1.5em;
}

.phase__img{
    width: 80%;
}